/* 
Estilos Personalizados

Aquí vamos a estilear todas las secciones, sus contenidos y el responsive. 
*/

@font-face {
  font-family: "Palatino Linotype";
  src: url("../Landing-Page-Flower-Knows/assets/fonts/palatinolinotype_roman.ttf") format("opentype");
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Palatino Linotype", sans-serif;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-normal);
}

.navbar-menu {
  display: flex;
  gap: var(--space-medium); 
  background-color: var(--light-color);
  border-radius: 2rem;
  padding: var(--space-small) var(--space-normal);
}

.navbar-menu a {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.navbar-menu a:hover {
  color: var(--dark-color);
}

/* Hero */

.hero {
  height: 100vh;
  min-height: 700px;
  background-image: url('../assets/images/background-hero.svg');
  background-size: cover;
  background-position: center;
  color: var(--light-color);
  font-family: var(--font-primary);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-content {
  width: 40%;
  color: var(--dark-color);
}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: var(--space-medium);
  max-width: 80%;
}

.hero-actions{
  display: flex;
  gap: var(--space-normal);
  margin-bottom: var(--space-medium);
}

.hero-icons {
  display: flex;
  gap: var(--space-small);
}

/* Characters */

.characteres {
 background-color: var(--light-color);
}

.characteres-header {
  margin-bottom: 1rem;
  color: var(--dark-color);
}

.characteres-content {
  display: flex;
  align-items: center;
}

.characteres-thumbnails {
  width: 50%;
}

.thumbnail-item {
  cursor: pointer;
  filter: brightness(0.6);
  transition: filter .3s ease;
}

.thumbnail-item:hover {
  filter: brightness(1);
}

.characteres-showcase {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}

.character-info {
  text-align: center;
  color: var(--dark-color);
}

.thumbnails-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: var(--space-medium);
}

/* Media */

.media-header {
  text-align: center;
  margin-bottom: var(--space-medium);
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  justify-content: center;
  gap: var(--space-medium);
  margin-bottom: var(--space-medium);
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  filter: brightness(0.6);
  transition: filter 0.3s ease;
}

.carousel-item:hover img {
  filter: brightness(1);
}

.carousel-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--light-color);
}

.carousel-item:hover span {
  color: var(--dark-color);
}

.carousel-controls {
  display: flex;
  justify-content: center;
}

.carousel-controls button {
  color: var(--dark-color);
}

.carousel-controls button:hover  {
  color: var(--secondary-color);
} 

.carousel-controls span {
  font-size: 3rem;
}